<main>

  <h2>{{title}}</h2>
  <p>
    This page gives an overall sense of myself (Nicholas Laufenberg) in general.
    It will include my educational background as well as my experience in the
    field of web programming. It also includes what I like to do for fun and my
    contact information. Feel free to reach out to me about any questions or if
    you're looking to hire a web developer for your business!
  </p>
  <section>
    <h3>Multimedia Content</h3>
    <div id="media-buttons-container">
      <button id="show-media">Show</button>
      <button id="hide-media">Hide</button>
    </div>

    <video src={{video.src}} controls id={{video.id}}></video>
    <audio src={{audio.src}} controls id={{audio.id}}></audio>
  </section>
  <script src="js/main.js"></script>
</main>